<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/minimal-table.css" rel="stylesheet" type="text/css">
    <style>
        .progress {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-size: auto;
        }
        progress::-webkit-progress-bar {
        background: #eee;
        border-radius: 9px;
        }
        progress::-webkit-progress-value {
        background: #1ab;
        border-radius: 9px;
        }
    </style>
</head>
<body>
    <header style="
        background-color: #17a2b8;
        font-size: 2rem;
        color: white;
        padding: 10px;
        border-radius: 15px;
        font-family: sans-serif;">Сотрудник {{ username }}, стойка номер {{ stand_id }} </header>

    <table>
        <tr>
            <th>Серийный номер</th>
            <th>Статус</th>
            <th>Прогресс</th>
        </tr>
        {%  for i in range(listLen)  %}
            <tr bgcolor={{ bgcolors[i] }}>
                <th>{{  serialNums[i]  }}</th>
                <td >{{  status[i]  }}</td>
                <td>
                    <div style="align: right">
                        <progress class="progress" max="100" value={{ progress[i] }} > </progress>
                    </div>
                </td>
            </tr>
        {%  endfor  %}
    </table>
</body>
</html>

