<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/minimal-table.css" rel="stylesheet" type="text/css">
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>Сотрудник {{ username }}, стенд номер {{ stand_id }} </header>
    <table>
        <tr>
            <th>Серийный номер</th>
            <th>Статус</th>
            <th>Прогресс</th>
        </tr>
        {%  for i in range(listLen)  %}
            <tr bgcolor={{ bgcolors[i] }}>
                <th>{{  serialNums[i]  }}</th>
                <td >{{  status[i]  }}</td>
                <td>
                    <div style="align: right">
                        <progress max="100" value={{ progress[i] }} > </progress>
                    </div>
                </td>
            </tr>
        {%  endfor  %}
    </table>
</body>
</html>

