<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header> AQ Мониторинг сессий тестирования </header>
    <form method="post" action="loginHandler">
        <fieldset>
            <img align="left" src="static/images/Aquarius_Eng_white.png">
            <label>Логин: <input name="username" type="text" value="" required /></label>
            <label>Пароль: <input name="password" type="password"  value="" required /></label>
        </fieldset>
        <input type="submit" value="Войти" />
    </form>
</body>
</html>
